:root {
  --whiteColor: white;
  --blackColor: black;
  --blackGreyColor: rgb(27, 27, 27);
  --greyColor: rgb(181, 181, 181);
  --greyHoverColor: rgb(145, 145, 145);

  // sizing
  --xs-sizing: 8px;
  --s-sizing: 16px;
  --m-sizing: 24px;
  --l-sizing: 32px;
  --xl-sizing: 64px;
  --xxl-sizing: 120px;
}

// Allisya Font
@font-face {
  font-family: "Ginthul";
  src: url("./src/fonts/Ginthul-w16z3.ttf");
  font-weight: 200;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ginthul";
}

body {
  font-family: "Ginthul";
}

h1 {
  padding-left: var(--l-sizing);
  padding-top: var(--l-sizing);
  text-align: center;
  color: var(--whiteColor);
}

// button {
//   margin-top: var(--l-sizing);
//   background-color: var(--greyColor);
//   color: var(--whiteColor);
//   border: none;
//   cursor: pointer;
//   font-size: var(--m-sizing);
//   &:hover {
//     background-color: var(--greyHoverColor);
//   }
// }
